@import "tailwindcss";
.swiper-button-prev,
.swiper-button-next {
  color: black;
}

.swiper-pagination-bullet-active {
  background-color: #22c55e; /* Tailwind green-500 */
}
/* tailwind.css or index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
