@import "tailwindcss";
.swiper-button-prev,
.swiper-button-next {
  color: black;
}

.swiper-pagination-bullet-active {
  background-color: #22c55e; /* Tailwind green-500 */
}


/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
